<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h2>Kota di Indonesia</h2>
    </header>
    <section>
        <nav>
            <ul>
                <li><a href="#">Jakarta</a></li>
                <li><a href="#">Depok</a></li>
                <li><a href="#">Surabaya</a></li>
            </ul>
        </nav>
        <article>
            <h1>Jakarta</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit minus sunt saepe veniam soluta iusto mollitia ullam illum, neque a, voluptatibus esse. Voluptates earum dolore facere reprehenderit nesciunt quis vero?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, incidunt? Tempora sed, consequatur amet aliquam soluta facilis molestiae rerum ratione temporibus nam adipisci autem, deserunt eveniet pariatur magnam saepe et?</p>

        </article>
    </section>
    <footer></footer>
</body>
</html>